.page-body {
  display: flex;
}
.products {
  width: 75%;
  padding: 20px;
}
.price-filters {
  margin-bottom: 20px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filters {
  width: 25%;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 30px;
}

.filter-p{
  font-size: 20px;
  margin-bottom: -5px;
  color: #bfa154;
}
.filters-borders {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

.type-filters {
  margin-top: 20px;
}