.jewelry-card-item{
    margin: 50px;
    position: relative;
    width: 280px;
    box-shadow: 0 2px 7px #dfdfdf;
  }
  
  .tumb{
    height: 300px;
    padding: 20px;
    display: grid;
    place-items: center;
  }
  .tumb img{
    max-height: 100%;
    max-width: 100%;
  }
  
  .details{
    padding: 30px;
  }
  
  .category{
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  
  h4 a{
    font-size: 18px;
    color: #363636;
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
    transform: 0.3s;
  }
  
  h4 a:hover{
    color: #85654d;
  }
  
  .botton-details{
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  }
  .botton-details div{
    float:left;
    width: 50%;
  }
  .price{
    color: #BF9270;
    font-size: 20px;
    font-weight: 400;
  }
  .wishList a{
    color: #BF9270;
    margin-left: 20px;
    margin-right: 10px;
    transition: 0.3s;
    font-size: 25px;
    transition: background-color 0.3s, transform 0.3s;
  }
  .wishList a:hover{
    transform: scale(1.1); 
  }