.product-heading {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top:20px;
  }
  
  .product-heading h2 {
    font-size: 3rem;
    color: #897147;
    font-weight: 500;
  }
  
  .product-heading p {
    font-size: 1.5rem;
    color: #707070;
  }
  .productList {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .progress {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }