.todolist-container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.todo-list{
  width: 800px;
  min-height: 540px;
  background-color: #f3f1f1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  margin: 100px auto 20px;
  border-radius: 30px;
}
.todo-list h2{
  color:#38497a;
  display: flex;
  font-size: 35px;
  align-items: center;
  margin-left: 300px;
}
.todo-list h2 i{
  width: 40px;
  font-size: 40px;
  margin-right: 10px;
}
.todo-list p{
  color:#363636;
}

.todo-list-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: 600px;
  height: 58px;
  border-radius: 30px;
  margin-left: 120px;
  margin-bottom: 25px;
}
.todo-list-row input{
  flex:1;
  border: none;
  outline: none;
  background: transparent;
  padding-left:50px ;
  padding-top: 30px;
  font-weight: 30px;
}
.add-button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #38497a;
  color: rgb(252, 252, 252);
  cursor: pointer;
  border-radius: 40px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  font-size: 30px;
}

