.login{
    margin-top: 20px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #38497a !important; 
}

.custom-text {
    color: #38497a; 
}


.custom-text-field-label {
    color: #38497a; 
}


.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: #38497a !important; 
}


.custom-text:hover + .MuiInputLabel-root,
.custom-text:focus + .MuiInputLabel-root {
    color: #38497a !important;
}

.custom-button {
    background-image: url("../../images/tanzaniteBtn2.png"); 
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255) !important; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 30px !important; 
    font-size: 18px !important;  
    font-weight: 500;
    cursor: pointer; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s, box-shadow 0.2s, filter 0.3s; 
    position: relative; 
    overflow: hidden; 
}

.custom-button:hover {
    transform: translateY(-4px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    filter: brightness(1.1); 
}

.custom-button:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}