.carousel-indicators li {
    list-style: none !important;
}

.carousel-indicators li::before {
    content: "" !important; 
}

.w-100{
    height: 450px !important;
    object-fit: cover !important;
}
.carousel-indicators [data-bs-target]{
    height: 30px !important;
}

.carousel-caption{
    right: 55% !important;
    bottom: 5rem;
    font-weight: 900 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}



