.review-box {
  width: 900px;
  background-color: hsl(0, 0%, 93%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  border-radius: 30px;
  cursor: pointer;
}

.review-profile-imge {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 10px;
}
.review-profile-imge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.review-user-profile {
  display: flex;
  align-items: center;
}
.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
}
.name-user span {
  color: #3d3d3d;
  font-size: 0.81rem;
}

.reviews-rating {
  color: #ffc107;
}
.review-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment{
    display:block;
    align-items: center;
}
.client-comment span {
  font-size: 0.6rem;
  color: #4d4d4d;
  text-align: left;
  margin-right: 680px;
}
.client-comment p {
  font-size: 0.9rem;
  color: #4d4d4d;
  margin-left: 30px;
  text-align: left;
}
