.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-4 {
  position: relative;
  overflow: hidden;
  width: 600px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 .input-search#search {
  width: 80%;
  height: 50px;
  background: #afafaf33;
  border: none !important;
  font-size: 15pt;
  float: left;
  color: #38497a;
  padding-left: 15px;
  border-radius: 5px;
}

.container-4 .input-search#search::-webkit-input-placeholder {
  color: #65737e;
  border: none !important;
}

.container-4 input#search:-moz-placeholder {
  color: #65737e;
  border: none !important;
}

.container-4 input#search::-moz-placeholder {
  color: #65737e;
  border: none !important;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
  border: none !important;
}

.container-4 .btn-searsh.icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #8faff4;
  height: 50px;
  width: 50px;
  color: #ffffff;
  font-size: 20pt;
  transition: all 0.55s ease;
  /* position: absolute; */
  left: 477px;
  top: 0;
}


.container-4:hover .btn-searsh.icon:hover {
  background: #5578c5;
}