a {
    color: #373737;
    font-weight: bold; 
    transition: color 0.3s, transform 0.3s; 
}

a:hover{
    color: #cab273;
}

#footer{
    width: 100%;    
    background-color: #ffffff;
    margin-top: 100px;
}
#footer h1{
    font-weight: bold;
    color: #38497a;
    padding-top: 30px;
}
#footer p{
    color: #373737;
}

.icons a {
    font-size: 24px; 
    margin: 0 15px; 
    color: #333; 
    transition: color 0.3s, transform 0.3s; 
}

.icons a:hover {
    color: #cab273; /* Change color on hover */
    transform: scale(1.1); /* Slightly increase the size on hover */
}
.copyright{
    color: #373737;
    margin-top: 20px;
}

strong{
    color: #38497a;
}
.credite{
    color: #373737;
}
span{
    color: #38497a;
}