// Override default variables
$body-bg: #fff; // Set the body background color to black

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss"; // Import Bootstrap SCSS

.notfoundpage {
  background-image: url("./images/notFoundPage.jpg");
  background-size: 80%;
  background-position: center;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
